{% extends "base/base.html" %}
{% block content %}
<div class="index-body-container">
    {% include "base/header.html" %}
    <div class="widgets-container">
        {% include "components/square_widget.html" with title="City" content=homeview_data.city %} 
        {% include "components/square_widget.html" with title="Temperature" content=homeview_data.temperature icon=homeview_data.weatherIcon%} 
        {% include "components/square_widget.html" with title="Humidity" content=homeview_data.humidity %} 
        {% include "components/square_widget.html" with title="Soil Moisture" content=homeview_data.soil_moisture %} 
        {% include "components/square_widget.html" with title="Soil Temperature" content=homeview_data.soil_temperature %} 
        {% include "components/square_widget.html" with title="Wind Speed" content=homeview_data.wind_speed %} 
    </div>
</div>
{% endblock content %}

